#page #conteiner main {

    background: white;
    margin: 2rem;
    border: 1px solid white ;
    border-radius: .8rem;
    margin-top: 6rem;
}

#page fieldset {
    width: 100%;
    border:none;

    padding: 0 .9rem;
}


.input-space, .select-space label{
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    margin-top: 2rem;

}

.input-space input {
    height: 100%;
    width: 80%;
    margin-top: .8rem;
    margin-bottom: .8rem;
    margin-left: 2rem;
    border: 1px solid rgb(243, 53, 53);
    border-radius: .8rem;
    outline: 0;
    background-color: rgb(201, 201, 201);
    font: 1.8rem 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#page main footer {
    padding: 2rem 2.4rem;

    background: white;
    border-top: 1px solid white;
    border-radius: .8rem;
}

#page main footer button {
        width: 100%;
        height: 5.6rem;
        background: red;
        border: 0;
        border-radius: .8rem;
        cursor: pointer;
        font: 700 1.6rem 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: 0.2s;    
}
#page main footer  button:hover {
    background: rgb(189, 3, 3);
}

@media (min-width: 900px) {
    #page #conteiner main {
        max-width: 900px;
        background: white;
        margin: 20rem;
        border: 1px solid white ;
        border-radius: .8rem;
        margin-top: 4rem;
        padding: 4rem;

    }

    #page fieldset {
        width: 100%;
        border:none;
    
        padding: 0 .9rem;
    }

    #page main footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 200px;
    }

    .input-space input {
        height: 100%;
        width: 300px;
        margin-top: 1rem;
        margin-bottom: .8rem;
        margin-left: 4rem;
        border: 1px solid rgb(243, 53, 53);
        border-radius: .8rem;
        outline: 0;
        background-color: rgb(236, 236, 236);
        font: 1.8rem 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


}