:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background: rgb(202, 201, 201);
}

body,
input,
button,
textarea {
    font: 500 1.6rem 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}