@media (max-width: 699px){
    :root {
        font-size: 37%; /*modificar o rem */
    }    
}
.conteiner-button {
    display: flex;
    justify-content: center;
    margin:3.2rem 0;
}
.conteiner-button a{
    width: 23rem;
    height: 9rem;

    border-radius: 6.4rem;
    margin-right: 1rem;
    margin-left: 1rem;

    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    transition: background 0.2s;

    color: black
}

.conteiner-button a.login {
    background: red;
}

.conteiner-button a.login:hover {
    background: rgb(189, 3, 3);
}

.conteiner-button a.create {
    background: red;
}

.conteiner-button a.create:hover {
    background: rgb(189, 3, 3);
}

.conteiner-logo img{
    height: 15rem;
    width: 45rem;
}

.conteiner-logo{
    text-align: center;
    margin-bottom: 30rem;
    margin-top: 20rem;
}

.conteiner-logo h1{
    margin-top: 5rem;
}



@media (min-width: 900px) {
    #page-site #conteiner {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows:  350px 250px;
        grid-template-areas:
        "logo logo"
        "Button Button";
    }
    .conteiner-logo {
        grid-area: logo;
        width: 100vw;
    }

    .conteiner-logo img{
        width: 750px;
        height: 10rem;
        margin-top: -10rem;
        margin-bottom: 10px;
    }

    .conteiner-button {
        grid-area: Button;
        width: 100vw;
        margin-top: 75px;
    }
    .conteiner-button a {
        width: 300px;
        height: 70px;
    }
}